.ProjectsList {
    padding: 8vh 0;

    .projectsContainer {
        padding: 0vh 10vh;
    }

    .projectCaption {
        margin-bottom: 6rem;

        h1 {
            font-size: xx-large;
        }

        p {
            font-size: x-large;
        }
    }

    @media (max-width: 768px) {
        .projectCaption {
            padding: 0vh 50vh;

        }
    }

    @media (max-width: 1200px) {
        .projectsContainer {
            padding: 0vh;
        }
    }
}