.ProjectsList {
    padding: 8vh 0;

    .projectsContainer {
        padding: 0vh 20vh;
    }

    .projectCaption {
        margin-bottom: 6rem;

        h1 {
            font-size: xx-large;
        }

        p {
            font-size: x-large;
        }
    }
}