.Footer {
    height: 100%;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-around;
    font-size: larger;

    div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

        a {
            text-decoration: none;
            color: var(--black);
        }

        svg {
            height: 25px;
            width: 35px;
        }
    }

    @media (max-width: 768px) {
        font-size: small;

        &>* {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}