.TechStack {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .stackItem {
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 15px;
        background-color: var(--lighter);
        color: var(--black);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        font-size: large;
        &:hover{
            background-image: url("../../../Assets/Images/home-bg.jpg");
            background-size: cover;
        }
    }

    @media (max-width: 768px) {
        justify-content: space-evenly;
    }
}