.TechStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .stackItem {
        padding: 10px;
        border: 1px solid;
        border-radius: 15px;
        background-color: var(--lighter);
        color: var(--black);
    }
}
