.ProjectsCard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 2rem 0;
    padding: 3rem;
    gap: 5%;
    background-color: lightgray;
    // background-image: url("../../../Assets/Images/home-bg.jpg");
    // background-size: cover
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    .projectCardData {
        width: 50%;

        &>* {
            margin-top: 1.5rem;
        }

        h2 {
            font-size: x-large;
        }

        p {
            font-size: large;
        }

        .headerLine {
            padding-bottom: 1.5em !important;

            &::after {
                width: 60% !important;
            }
        }
    }


    .btn-p {
        padding: 0.4em 2em;
        margin: 2em 0;
    }

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        margin: 5em 10em;

        .projectCardImage {
            display: flex;
            justify-content: center;

            img {
                width: 400px;
            }

        }

        .projectCardData {
            width: 60%;
            overflow: hidden;

            .TechStack {
                .stackItem {
                    padding: 10px 15px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        margin: 5em 25em;

        .projectCardImage {
            display: flex;
            justify-content: center;

            img {
                width: 400px;
            }

        }

        .projectCardData {
            width: 60%;
            overflow: hidden;

            .TechStack {
                .stackItem {
                    padding: 10px 15px;
                }
            }
        }
    }

}