.ProjectsCard {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 4rem;
    gap: 5%;

    .projectCardData {
        width: 50%;
        &>* {
            margin-top: 1.5rem;
        }

        h2 {
            font-size: x-large;
        }

        p {
            font-size: large;
        }
    }

    .btn-p {
        padding: 0.4em 2em;
    }
}