body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  --black: black;
  --white: white;
  --lighter: #F7F7F7;
  --bg: #EEEEEE;
  --dark-bg: #929AAB;
  --btn: #393E46;

}